.container-fluid{
    background-color: #EDEDED;
    height: 100vh;
    width: 100vw;
}


/* Dentro do container: */
.navbar{
    /* background-color: blueviolet; */
    height: 10vh;
    width: 100vw;
    display: flex;
}

.te{
    /* background-color: red; */
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.risco{
    background-color: darkgray;
    height: 0.2vh;
    width: 100vw;
}

.ttitle{
    /* background-color: orange; */
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.esp{
    /* background-color: red; */
    height: 6vh;
    width: 2.5vw;
}

.atexto{
    height: 8vh;
    width: 95vw;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
}

.agenda{
    /* background-color: bisque; */
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcalendario{
    /* background-color: black; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pacientes{
    /* background-color: blue; */
    height: 22vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bpacientes{
    /* background-color: black; */
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Dentro da agenda: */
.data{
    /* background-color: yellow; */
    height: 20vh;
    width: 18vw;
}

.espaco{
    /* background-color: red; */
    height: 30vh;
    width: 5vw;
}

.datap{
    /* background-color: orangered; */
    height: 25vh;
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dentro das datas: */
.card-bodyd{
    height: 20vh;
    width: 18vw;
}

.card-bodyp{
    height: 25vh;
    width: 28vw;
}


/* Dentro do bcalendario: */
.calendariob{
    /* background-color: purple; */
    height: 9vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BOTÃO: */
.botao{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 8px 18px; */
    /* gap: 9px; */
    height: 8vh;
    width: 18vw;
    background: #EDEDED;
    border: 3px solid #028090;
    border-radius: 100px;
    font-size: 2.2em;
}


/* Dentro do pacientes: */
.paciente{
    /* background-color: brown; */
    height: 20vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espaco2{
    /* background-color: red; */
    height: 22vh;
    width: 5vw;
}


/* Dentro do paciente: */
.card-img-topp{
    height: 15vh;
    width: 17.8vw;
}

.card-bodyy{
    height: 5vh;
    width: 18vw;
}


/* Dentro de bpacientes: */
.pacientesb{
    /* background-color: purple; */
    height: 9vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
}